<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="main.js"></script>
	
	<script src="bower_components/jasmine/lib/jasmine-core/jasmine.js"></script>
	<script src="bower_components/jasmine/lib/jasmine-core/jasmine-html.js"></script>
	<script src="bower_components/jasmine/lib/jasmine-core/boot.js"></script>
	<link href="bower_components/jasmine/lib/jasmine-core/jasmine.css"  rel="stylesheet" type="text/css"></link>
	<script src="bower_components/angular-mocks/angular-mocks.js"></script>
	<script src="spec.js"></script>
</head>
<body ng-app="ngplay" >
<div ng-controller="nameCtrl as name">
	<!--<input ng-model="a">
	<div ng-if="true">  sukuria nauja scope'a, del to {{a}} sitam scope neveiks
	{{a}}
	</div>-->
	

</body>
</html>